
/*Navbar Style*/
@media (min-width: 992px) {
header 
{ height: 40px; left: 0; position: fixed; top: 0; width: 100%; z-index: 20; }
	header a.navbar-brand 
	{ float: left; width: 200px; }
	header div#navbarNavDropdown
	{ display: inline !important; float: right; }
		header div#navbarNavDropdown ul.navbar-nav
		{ float: right; display: inline; }
			header div#navbarNavDropdown ul.navbar-nav li
			{ float: left; }
}

/*Navbar Image Resize*/
#navbar-img {
    max-height: 200px;
    max-width: 30%;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

section .solid {
	border-style: solid;
}

/*To make sections fullscreen*/
.fwh-size {
	height: 100vh;
	box-sizing: border-box;
}

.home-row {
	display: flex;

}

.home-column {
	flex: 50%;
	max-width: 50%;
}



.tagline {
	padding-top: 10rem;
	margin-left: 2rem;
	width: 100%

}

.full-height {
  height: 100%;
 }


.card {
	width: auto;

}



body{
	font-family: 'Abel', sans-serif;
	/*font-family: 'Poppins', sans-serif;
	font-family: 'PT Sans Narrow', sans-serif;*/
	color: #f2e9e1;
	background: rgb(157,200,200);
	background: linear-gradient(180deg, rgba(157,200,200,1) 0%, rgba(111,61,141,1) 100%);
	margin: 0;
	text-align: center;
	line-height: 1.5;
	/*vertical-align: middle;*/
	position: relative;
}

footer {
	text-align: text-center;
	font-family: 'Poppins', sans-serif;
}

#message {
	height: 10rem;
}

#headshot {
	width: 20rem;
}